@import "assets/styles/utils.scss";

$transition: 0.3s ease;

.button {
  @extend %button-reset;

  @include invert-color(
    var(--background-secondary),
    var(--text-secondary),
    var(--background-primary),
    var(--text-primary)
  );

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: fit-content;
  padding: 8px;
  border: 2px solid var(--black);
  font-weight: bold;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: color $transition, background-color $transition;

  svg {
    transition: fill $transition;
  }

  &--red {
    @include invert-color(var(--red), var(--text-secondary), var(--background-primary), var(--red));

    border: 2px solid var(--red);
  }

  &--white-red {
    @include invert-color(var(--background-primary), var(--red), var(--red), var(--text-secondary));

    border: 2px solid var(--red);
  }

  &--white-black {
    @include invert-color(
      var(--background-primary),
      var(--text-primary),
      var(--background-secondary),
      var(--text-secondary)
    );
  }
}

.buttonClose {
  @extend %button-reset;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-left: auto;
  opacity: 0.5;
  transition: opacity 0.3s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 1.5px;
    background-color: var(--background-secondary);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
