.overlay {
  z-index: 100;
  cursor: progress;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: progress;
  transform: translate3d(-50%, -50%, 0);

  &::before {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border: 6px solid;
    border-color: var(--gray-2) var(--gray-2) var(--gray-2) transparent;
    border-radius: 50%;
    animation: loader-spinner 1.2s linear infinite;
  }
}

@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
