@import "assets/styles/utils.scss";

.component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  flex-grow: 1;
  padding: 215px 0 140px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  &::before {
    top: 0;
    height: 251px;
    background-image: url("../../assets/img/content/bgGuitar.png"), url("../../assets/img/content/lineHeader.svg");
    background-position: top -38px right, top 24px center;
    background-size: 825px, 1020px;
    background-repeat: no-repeat, repeat-x;
  }

  &::after {
    bottom: 0;
    height: 140px;
    background-image: url("../../assets/img/content/bgGuitar.png"), url("../../assets/img/content/lineFooter.svg");
    background-position: bottom 50px left 100%, bottom 129px center;
    background-size: 825px, 1020px;
    background-repeat: no-repeat, repeat-x;
    transform: rotate(180deg);
  }
}

@include retina {
  .main {
    &::before {
      background-image: url("../../assets/img/content/bgGuitar@2x.png"), url("../../assets/img/content/lineHeader.svg");
    }

    &::after {
      background-image: url("../../assets/img/content/bgGuitar@2x.png"), url("../../assets/img/content/lineFooter.svg");
    }
  }
}

@include viewport-mobile {
  .main {
    padding: 100px 0 90px;

    &::before {
      height: 100px;
      background-position: top -20px right -45px, top 5px center;
      background-size: 315px, 410px;
    }

    &::after {
      height: 90px;
      background-position: bottom 55px left 100%, bottom 85px center;
      background-size: 315px, 410px;
    }
  }
}
