@import "assets/styles/utils.scss";

.component {
  display: flex;
  align-items: center;
}

.heading {
  margin: 0 20px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.buttonsWrapper {
  &--order {
    display: flex;
    column-gap: 15px;
  }
}

.button {
  @extend %button-reset;

  &--type {
    margin-right: 35px;
  }

  &--order {
    @include expand-space(35px, 35px);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
  }
}

.buttonText {
  color: var(--gray-5);
  font-size: 16px;
  line-height: 20px;
  transition: color 0.3s ease;

  .button:hover &,
  .button:focus & {
    color: var(--text-hover);
  }

  &--active {
    color: var(--text-primary);
    font-weight: 700;
  }

  .button--order & {
    display: none;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  transition: opacity 0.3s ease, fill 0.3s ease;

  .button:hover &:not(&--active),
  .button:focus &:not(&--active) {
    opacity: 0.7;
  }

  &--active {
    opacity: 1;
  }

  &--down {
    transform: rotate(180deg);
  }
}

@include viewport-mobile {
  .component {
    flex-direction: column;
    align-items: stretch;
  }

  .heading {
    margin: 15px 0 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: initial;
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid var(--gray-4);
  }

  .button {
    display: flex;
    width: auto;
    height: auto;

    &--order::before {
      content: none;
    }
  }

  .buttonText {
    &::first-letter {
      text-transform: capitalize;
    }

    .button--order & {
      display: initial;
    }
  }

  .icon {
    display: none;
  }
}
