@import "assets/styles/utils.scss";

.component {
  padding: var(--padding-desktop-header-height) 0;
  background-color: var(--background-secondary);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;

  img {
    object-fit: cover;
  }
}

.searchForm {
  width: calc(300px / 1020px * 100%);
  margin: 0 auto;
}

.buttonSearch {
  @extend %button-reset;

  @include expand-space(40px, 40px);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: auto;
}

.iconSearch {
  width: 14px;
  height: 14px;
  fill: var(--border-search-form-hover);
  transition: fill 0.3s ease;

  .buttonSearch:hover &,
  .buttonSearch:focus-within & {
    fill: var(--text-secondary);
  }
}

.cart {
  @include expand-space(40px, 40px);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;

  svg {
    fill: var(--border-search-form-hover);
    transition: fill 0.3s ease;
  }

  &:hover svg,
  &:focus svg {
    fill: var(--text-secondary);
  }
}

.cartCount {
  position: absolute;
  top: -5px;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 12px;
  min-height: 12px;
  padding: 0 2px;
  border-radius: 100px;
  background-color: var(--red);
  color: var(--text-secondary);
  font-size: 10px;
  line-height: 12px;
  text-transform: none;
}

@include viewport-1023 {
  .logo {
    margin-right: 30px;
  }
}

@include viewport-767 {
  .component {
    padding: var(--padding-mobile-header-height) 0;
  }

  .logo {
    position: absolute;
    left: 50%;
    margin: 0;
    transform: translate3d(-50%, 0, 0);

    img {
      width: 40px;
      height: 40px;
    }
  }

  .searchForm {
    display: none;
  }

  .cart {
    margin: 0 5px;
  }
}
