@import "assets/styles/utils.scss";

.inputsWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 210px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 1px;
    background-color: var(--gray-5);
    transform: translate3d(-50%, -50%, 0);
  }
}

.inputWrapper {
  max-width: 84px;

  input {
    @extend %hide-arrows;
  }
}
