@import "assets/styles/utils.scss";

.component {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
}

@include viewport-1023 {
  .component {
    padding: 0 30px;
  }
}

@include viewport-767 {
  .component {
    padding: 0 20px;
  }
}
