$color: var(--black);

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--overlay-primary);

  & > * {
    cursor: initial;
  }
}

.lock {
  overflow: hidden;
}
