@import "assets/styles/utils.scss";

.component {
  display: flex;
  align-items: center;
  width: 100%;
}

.buttonRemove {
  align-self: flex-start;
  margin: 0;
}

.image {
  margin: 0 70px 0 25px;
}

.infoWrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.info {
  width: 55%;
}

.heading {
  margin: 0 0 15px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text {
  margin: 0 0 5px;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.priceWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.priceText {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
}

.priceTextLabel {
  display: none;
}

.priceInputWrapper {
  display: flex;
  margin: 0 40px;
}

.priceButton,
.priceInput {
  width: 29px;
  min-width: initial;
  max-width: initial;
  height: 29px;
  border: 1px solid var(--border-input);
  color: var(--border-input);
  outline: none;
}

.priceButton {
  font-size: 20px;

  &:hover,
  &:focus {
    border-color: var(--border-input-focus);

    &::before {
      background-color: var(--text-secondary);
    }
  }

  &--dec {
    border-right: none;
  }

  &--inc {
    border-left: none;
  }
}

.priceInput {
  @extend %hide-arrows;

  text-align: center;

  &:hover {
    border-color: var(--border-input-hover);
  }

  &:focus {
    border-color: var(--border-input-focus);
  }
}

@include viewport-tablet {
  .image {
    margin: 0 25px;
  }

  .info {
    margin-right: 10px;
  }

  .priceInputWrapper {
    margin: 0 15px;
  }
}

@include viewport-mobile {
  .heading {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 17px;
  }

  .text {
    font-size: 12px;
    line-height: 15px;
  }

  .image {
    object-fit: contain;
    width: 65px;
    height: 170px;
    margin: 0 8px;
  }

  .infoWrapper {
    flex-direction: column;
    align-items: flex-start;
    max-width: 225px;
  }

  .info {
    width: 100%;
    margin: 0 0 10px;
  }

  .priceWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    width: 100%;
  }

  .priceInputWrapper {
    order: -1;
    margin: 0;
  }

  .priceText {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    line-height: 15px;
  }

  .priceTextLabel {
    display: initial;
  }
}
