@import "assets/styles/utils.scss";

.component {
  display: flex;
  column-gap: 30px;
}

.catalogWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 30px;
  padding-top: 4px;
}

.filtersWrapper {
  display: flex;
  align-items: center;
}

.filterButton {
  min-width: 220px;
  margin-right: auto;
}

.guitarsList {
  position: relative;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sortIcons {
  display: flex;
  flex-direction: column;

  svg:last-child {
    transform: rotate(180deg);
  }
}

.filterIcon {
  width: 20px;
  height: 20px;
}

@include viewport-mobile {
  .catalogWrapper {
    justify-content: space-between;
    width: 100%;
  }

  .filtersWrapper {
    flex-direction: column;
    row-gap: 10px;
  }

  .filterButton {
    width: 100%;
    max-width: none;
    min-height: 40px;
    padding: 4px 8px;
  }

  .guitarsList {
    grid-template-columns: repeat(2, 1fr);
    justify-items: initial;
  }
}

@media (max-width: 561px) {
  .guitarsList {
    grid-template-columns: repeat(1, 1fr);
  }
}
