@import "assets/styles/utils.scss";

.component {
  width: 220px;
  padding: 16px 14px;
  border: 1px solid var(--gray-4);
}

.image {
  object-fit: scale-down;
  width: 100%;
  margin-bottom: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 6px 0 16px;
}

.infoTitle,
.infoPrice {
  margin: 0;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.05em;
  word-break: break-word;
}

.infoTitle {
  width: 60%;
}

.infoPrice {
  width: 38%;
  text-align: right;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.button {
  min-width: 89px;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: initial;

  svg {
    width: 11px;
    height: 11px;
  }
}

@include viewport-mobile {
  .component {
    display: flex;
    justify-content: space-around;
    width: 251px;
    width: 100%;
    padding: 20px 30px;
  }

  .image {
    object-fit: cover;
    width: 55px;
    height: 155px;
    margin: 0 30px 0 0;
  }

  .info {
    flex-direction: column;
    row-gap: 10px;
    margin: 10px 0 35px;
  }

  .infoTitle,
  .infoPrice {
    width: 100%;
  }

  .infoPrice {
    font-weight: 700;
    text-align: left;
  }

  .buttonsWrapper {
    flex-direction: column;
    row-gap: 8px;
  }

  .button {
    min-width: 100px;
  }
}
