:root {
  // Colors
  --black: #000;
  --white: #fff;
  --red: #c90606;
  --gray: #9f9e9e;
  --gray-1: #ddd;
  --gray-2: #f6f3f3;
  --gray-3: #545454;

  // Color Variables
  --text-primary: var(--black);
  --text-secondary: var(--white);
  --text-disabled: var(--gray-1);
  --text-hover: var(--red);
  --background-primary: var(--white);
  --background-secondary: var(--black);
  --background-disabled: var(--gray-2);
  --border-input: var(--gray);
  --border-input-hover: var(--black);
  --border-input-focus: var(--red);
  --border-search-form: var(--gray-3);
  --border-search-form-hover: var(--gray);
  --overlay-primary: rgb(0 0 0 / 0.3);

  // Propery Variables
  --padding-desktop-header-height: 20px;
  --padding-mobile-header-height: 15.5px;
}

// Mixins
@mixin invert-color($backgroundColor, $color, $hoverBackgroundColor, $hoverColor) {
  background-color: $backgroundColor;
  color: $color;

  svg {
    fill: $color;
  }

  &:hover,
  &:focus {
    background-color: $hoverBackgroundColor;
    color: $hoverColor;

    svg {
      fill: $hoverColor;
    }
  }
}

@mixin expand-space($width, $height) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    height: $height;
    transform: translate(-50%, -50%);
  }
}

@mixin viewport-1023 {
  @media screen and (max-width: (1024 - 1px)) {
    @content;
  }
}

@mixin viewport-767 {
  @media screen and (max-width: (768 - 1px)) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}

// Extends

%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

%button-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

// Animation

// Используется для скрытия нежелательных анимаций-скачков при поворотах / смене вьюпорта экрана
@keyframes disableBreakpointAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
